@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
    --card-bgcolor: rgba(30, 30, 30, 0.9);
    --card-bgcolor-hover: rgba(30, 30, 30, 0.97);
    --bg-color: #0e0d0d;
    --accent-color: #ffcc00;
    --text-color: #ffffff;
    --border-radius: 1.5rem;
    --border-color: rgba(255, 204, 0, 0.4);
    --box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.40);
    --box-shadow-hover: 0px 15px 45px 5px rgba(0, 0, 0, 0.68);
}
body {
    margin:0%;
    padding:0%;
    background: url(/images/BG.png) repeat;
    background-size: 15%;
    backdrop-filter: blur(11px);
    font-family: 'Momo Trust Display', Arial, sans-serif;
    animation: moveBackground 30s linear infinite;
}
.cardplaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.card {
    color:var(--text-color);
    text-align:center;
    font-size:50px;
    background-color: var(--card-bgcolor);
    width: clamp(10rem, 50%, 40rem);
    height: clamp(10rem, 30%, 30rem);
    padding: 2.5rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 0.15rem solid var(--border-color);
    transition: all 0.5s ease-in-out;
}
.card:hover {
    box-shadow: var(--box-shadow-hover);
    background-color: var(--card-bgcolor-hover);
    border-radius: var(--border-radius);
    backdrop-filter: blur(1px);
}
.card-title {
    color: var(--accent-color);
    font-size: 2.5rem;
    margin: 1rem 0;
}
.card-description {
    font-size: 1.3rem;
    line-height: 1.5;
}
@keyframes moveBackground {
    0% {
        background-position: bottom left;
    }
    100% {
        background-position: top right;
    }
}